@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

.page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

html, body,
.wrapper {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


#lottie-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.quote-container {
  width: 80%;
  max-width: 900px;
  /* min-width: fit-content; */
  padding: 20px 30px;
  border-radius:5px;
  background-color: rgba(241, 208, 23, 0.4);
  box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.quote-text {
  font-size: 2rem;
  text-align: center;
}

.long-quote {
  font-size: 1.75rem;
}

.fa-quote-left {
  font-size: 2rem;
}

.quote-author {
  text-align: right;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  align-content: center;
}

.hide-author {
  display: none;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 90px;
  color: #000000;
  background: #88f754b2;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.3rem 3px rgba(28, 122, 10, 0.4);
}

button:hover {
  color: #38a1f3;
  filter: brightness(125%);
}

button:active {
  transform: translate(0, 0.3rem);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1rem;
}

.page-footer {
  padding-bottom: 12px;
  font-size: .8rem;
  font-family: 'Gill Sans', sans-serif;
}

  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  a:link {
    color: hotpink;
  }
  a:visited {
    color: rgb(209, 163, 178);
  }
  a:focus,
  a:hover {
    border-bottom: 1px solid;
  }
  a:active {
    color: hotpink;
  }
  a[href^="https"] {
    background: url("favicono.ico") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }

.loader {
  border: 16px solid #c0d6df;
  border-top: 16px solid #dfe9f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media query: Tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}

#scroll-container {
  padding-top: 12px;
  border: none;
  margin: 0;
  overflow: hidden;
}

#scroll-text {
  color: hotpink;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
