@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Luckiest+Guy&family=Montez&family=Satisfy&family=Sigmar+One&display=swap");

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  color: #dbdeca;
  font-family: "Indie Flower", cursive;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lottie-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.quote-container {
  width: 50%;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 65px;
  background-color: rgba(129, 233, 179, 0.4);
  box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2rem;
}

.long-quote {
  font-size: 1.75rem;
}

.fa-quote-left {
  font-size: 2rem;
}

.quote-author {
  text-align: right;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  align-content: center;
}

.hide-author {
  display: none;
}

.button-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 90px;
  color: #ced2b9;
  background: #092247;
  outline: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.3rem 3px rgba(44, 11, 88, 0.4);
}

button:hover {
  filter: brightness(175%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.7);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1rem;
}

.loader {
  border: 16px solid #c0d6df;
  border-top: 16px solid #dfe9f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media query: Tablet or smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}
